// Reset file for standardizing the page
// @import "globals/_reset";

// Base file contains all the global styles
@import "globals/_base";

// Header & Footer
@import "sections/_header";
@import "sections/_footer";

// Pages
@import "pages/_home";

.moovweb_footer {
	padding: 8px;
	text-align: center;
	border-top: 1px solid #999;
	color: #666;
	font-size: 11px;
}
